// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.color-primary {
    color: #369D49;
}

.color-secondary {
    color: #73BB53;
}

.color-danger {
    color: #FF5356;
}

.color-light {
    color: #f4f4f4;
}

.color-disabled {
    color: #999;
}

.color-dark {
    color: #222;
}

ion-label {
    color:map-get($colors, primary);
}

.float-right {
    display: float;
    float: right;
}