detail-trashcan-popup {
    #detail-trashcan-popup {
        position: absolute!important;
        bottom:2vh!important;
        left:1.4vh;
        background-color: map-get($colors, light);
        width:95vw;
        padding:2vw;
        box-shadow: 0 0 30vh map-get($colors, dark);
    }

    .popup-button {
        border:1px solid map-get($colors, primary);
        margin-left:0;
        margin-right:0;
    }
}
