<div id="detail-trashcan-popup" [class.hide]="!openPopup" *ngIf="trashcan != null">
    <h2>{{ 'DETAIL_TRASHCAN' | translate }}</h2>
    <h5>
        <ion-icon name="trash"></ion-icon> {{trashcan.trashcanType.label}} {{trashcan.garbageType.label}}
    </h5>
    <h5>
        <ion-icon name="locate"></ion-icon> position: {{trashcan.location.label}}
        <br> lat: {{trashcan.location.lat}}, lon: {{trashcan.location.lon}}
    </h5>
    <ion-list>
        <ion-item class="button-detail">
            <button ion-button clear>
                <ion-icon name="navigate"></ion-icon>Aller à la poubelle
            </button>
        </ion-item>
        <ion-item class="button-detail">
            <button ion-button color="warning" clear>
                <ion-icon name="alert"></ion-icon>Signaler la poubelle pleine</button>
        </ion-item>
        <ion-item class="button-detail">
            <button ion-button color="danger" clear>
                <ion-icon name="alert"></ion-icon>Signaler une poubelle inexistante</button>
        </ion-item>
    </ion-list> 
    <button ion-button color="primary" outline block (click)="dismissPopup()">CANCEL</button>
</div>