<div class="content-home">
  <div class="center content">
    <!-- encadré du text d'accroche -->
    <div class="center left-block">
      <h1>Soyez citoyen, chaque jours trouvez une poubelle proche de vous pour jeter vos déchets.</h1>
      <p>FindYourTrashcan&trade; est une application communautaire permettant de trouver une poubelle rapidement proche de vous.
        Rejoinez les citoyens proche de vous afin de contribuer à la propreté de votre environnement, réduisant la polution
        et améliorant votre vie quotidienne.</p>
      <h4>Devenez citoyen maintenant avec nous !</h4>
    </div>
    <!-- encadré de la démo video de l'appli -->
    <div class="center right-block display-tile">
      <div class="content-right-block">

      </div>
    </div>
  </div>
</div>
<div class="center content-home">
  <div class="center block-home">
    <div class="divider"></div>
    <div class="block-colored">
      <div class="subcontent-right-block">
        <!-- img -->
        <img src="" alt=""  />
      </div>
      <div class="subcontent-left-block">
        <!-- desc -->
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
  <div class="center block-home">
    <div class="block-without-color">
      <div class="subcontent-left-block">
        <!-- desc -->
        <h3></h3>
        <p></p>
      </div>
      <div class="subcontent-right-block">
        <!-- img -->
        <img src="" alt=""  />
      </div>
    </div>
  </div>
  <div class="center block-home">
    <div class="divider"></div>
    <div class="block-colored">
      <div class="subcontent-right-block">
        <!-- img -->
        <img src="" alt=""  />
      </div>
      <div class="subcontent-left-block">
        <!-- desc -->
        <h3></h3>
        <p></p>
      </div>
    </div>
  </div>
</div>