<div class="content-home">
  <div class="center content">
    <!-- encadré du text d'accroche -->
    <div class="contain">
      <div class="center left-block">
        <h1>Soyez citoyen, chaque jours trouvez une poubelle proche de vous pour jeter vos déchets.</h1>
        <p>FindYourTrashcan&trade; est une application communautaire permettant de trouver une poubelle rapidement proche de
          vous. Rejoinez les citoyens proche de vous afin de contribuer à la propreté de votre environnement, réduisant la
          polution et améliorant votre vie quotidienne.</p>
        <h4>Devenez citoyen maintenant avec nous !</h4>
        <a>
          <img src="../../assets/play_store_button.png" class="btn-play-store" alt="play store button" />
        </a>
        <!-- <a>
          <img src="../../assets/app-store-button.png" class="btn-app-store" alt="app store button" />
        </a> -->
      </div>
      <!-- encadré de la démo video de l'appli -->
      <div class="center right-block display-tile">
        <div class="content-right-block">

        </div>
      </div>
    </div>
  </div>
  <div class="center block-home">
    <div class="center-image-com subcontent-left-block block-colored">
      <div class="divider"></div>
      <!-- img -->
      <img src="../../assets/fytcIcones/com_tri_success.png" class="image-com-description" alt="podium of trash success" />
    </div>
    <div class="subcontent-right-block block-colored">
      <div class="divider display-tile"></div>
      <!-- desc -->
      <h3>Sauvez la planète et Aidez nous à rendre nos rues plus propre!</h3>
      <p>Imaginez des rues propres, sans déchets à terre, c'est beau hein ? Grâce à FindYourTrashcan&trade; vous pourrez trouver
        une poubelle proche de vous correspondant à vos déchets. Fini la pollution visuelle et en avant le tri! Pensez au
        bien être de la nature avec votre simple action!</p>
    </div>
  </div>
  <div class="center block-home">
    <div class="center-image-com subcontent-right-block">
      <!-- img -->
      <img src="../../assets/fytcIcones/com_communaute.png" class="image-com-description" alt="podium of trash success" />
    </div>
    <div class="subcontent-left-block">
      <!-- desc -->
      <h3>Voyez la communauté agir avec vous !</h3>
      <p>Grâce à notre application resté connecté avec les citoyens. Vous pourrez aider l'un d'entre eux en lui indiquant une
        poubelle pleine ou ça position exacte. Rencontré de nouvelles personnes, qui, comme vous, veulent rendre la planête
        plus propre !</p>
    </div>
  </div>
  <div class="center block-home">
    <div class="center-image-com subcontent-left-block block-colored">
      <div class="divider"></div>
      <!-- img -->
      <img src="../../assets/fytcIcones/com_signal.png" class="image-com-description" alt="podium of trash success" />
    </div>
    <div class="subcontent-right-block block-colored">
      <div class="divider display-tile"></div>
      <!-- desc -->
      <h3>FindYourTrashcan ce n'est pas seulement trouver une poubelle</h3>
      <p>Grâce à l'application, vous pourrez signaler une poubelle pleine à la communauté, en ajouter une nouvelle, signaler
        une poubelle dégradée, et bien plus encore. Profitez des avantages de votre rang! Et oui, à chaque fois que vous
        faite une bonne action, vous serez récompensé. Vous gagnerez des points qui vous permettrons d'accèder à certains
        services tel que le ramassage d'encombrants chez vous par exemple.</p>
    </div>
  </div>
</div>
