<div class="content-block">
  <div class="picture-block">
    <div class=" picture-content">
      <div class="center texte-block">
        <h2>FindYourTrashcan&trade;, une application destinée à rendre le monde plus propre</h2>
      </div>
    </div>
  </div>
</div>
<div class="subcontent-block">
  <div class="center title-block">
    <h2>Notre but ☝️</h2>
  </div>
  <div class="center paragraphe-block">
    <p>FindYourTrashcan&trade; est une application communautaire destiné à promouvoir la propreté de l'environnement. En rassemblant
      l'ensemble des citoyens, nous aidons les personnes à créer une communautés locales qui travaillent ensemble pour améliorer
      la propreté des villes, mais aussi de lutter contre la pollution. C'est à dire, à rendre notre planête plus propre
      pour tous. Cette application a été créer spécifiquement pour cela en permettant a l'ensemble de la communauté de profiter
      des endroits près de chez eux conçu pour accueillir leurs déchêts.</p>
  </div>
</div>
<div class="subcontent-block">
  <div class="center title-block">
    <h2>L'application 📱 </h2>
  </div>
  <div class="center paragraphe-block">
    <p>FindYourTrashcan&trade; est une application simple, après avoir créé leur comptes, les utilisateurs peuvent trouver facilement
      les poubelles prochent d'eux. Il pourront donc créer un itiniraire pour aller jeter les déchets, mais également signaler
      des événements. Les événements pouvant être notifiés sont par exemple le fait qu'une poubelle soit remplie, ou encore
      l'apparition d'une nouvelle poubelle dans la rue ou ils sont. Afin de d'encourager les utilisateurs, un système de
      rang a été mit en place pour récompenser leurs bonnes actions. Chaque rang permet d'accèder à des fonctionnalités exclusives
      rendant leur vie plus simple. Imaginons que vous atteignez le status d'ambassadeur (plus haut rang possible sur l'application).
      Il vous sera possible de faire appel à un service de votre commune pour faire jeter un encombrant à la déchéterie que
      vous n'auriez pas pu faire tout seul.</p>
  </div>
</div>
<div class="subcontent-block">
  <div class="center title-block">
    <h2>L'équipe 👨‍💻👨‍💻 </h2>
  </div>
  <div class="center paragraphe-block">
    <p>Nous sommes de jeunes développeurs en Master 2 spécialisés dans les Méthodes Informatiques Appliquées à la Gestion des
      Entreprises.
    </p>
  </div>
  <div class="center subcontent-block">
    <div class="center team-block">
      <div class="center team-card">
        <div class="team-image">
          <img class="rounded-face" src="../../assets/team/erwan_prial.jpg" alt="picture of Erwan Prial" />
        </div>
        <h4>Erwan Prial</h4>
        <p class="center team-desc"></p>
      </div>
      <div class="center team-card">
        <div class="team-image">
          <img class="rounded-face" src="../../assets/team/mathieu_saab.jpg" alt="picture of Mathieu Saab" />
        </div>
        <h4>Mathieu Saab</h4>
        <p class="center team-desc"></p>
      </div>
      <div class="center team-card">
        <div class="team-image">
          <img class="rounded-face" src="../../assets/team/mustapha_nezzari.jpg" alt="picture of Mustapha Nezzari" />
        </div>
        <h4>Mustapha Nezzari</h4>
        <p class="center team-desc"></p>
      </div>
      <div class="center team-card">
        <div class="team-image">
          <img class="rounded-face" src="../../assets/team/francis_cornaire.jpg" alt="picture of Francis Cornaire" />
        </div>
        <h4>Francis Cornaire</h4>
        <p class="center team-desc"></p>
      </div>
    </div>
  </div>
</div>