.full-width-item{
    width: 100%;
}
.card-size{
    width: 100%;
}
.card-margin-left{
    margin-left: 10px;
}
.card-margin-right{
    margin-right: 10px;
}

@media screen and (min-width: 1024px) {
    .div-position{
        float: right !important;    
    }
    .display{
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 200px) and (max-width: 1023px) {
    .display-tile {
      display:none;
      clear:both;
    }
    
    .display{
        display: block;
        clear: both;
    }
  }