<!-- Cover -->
<mat-grid-list id="profile_header" cols="4" rowHeight="100px">
  <mat-grid-tile id="profile_cover" colspan="4" rowspan="3">
  </mat-grid-tile>
  <div id="profile_avatar">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/47/85/53/47855328760893b5d369a643f1bf404f.png" alt="avatar" />
    <div id="profile_name">
      Black Goku
    </div>
    <div id="profile_role">
      Administrateur
    </div>
  </div>

</mat-grid-list>

<!-- Tabs  -->
<form (ngSubmit)="save()" [formGroup]="accountdetailsform" novalidate>
  <mat-tab-group id="profile_info_tab">
    <mat-tab label="Mes informations">
      <div class="account_details-tab-content">
        <div>
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Nom">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input formControlName="firstName" matInput placeholder="Prénom">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input formControlName="birthday" matInput [matDatepickerFilter]="birthdayFilter" [matDatepicker]="picker" placeholder="Date de naissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <br />
          <mat-form-field>
            <input formControlName="email" matInput placeholder="E-mail">
          </mat-form-field>
          <br />
          <mat-form-field>
            <input formControlName="avatar" matInput placeholder="Lien vers l'avatar">
          </mat-form-field>
          <br />

        </div>
      </div>
    </mat-tab>

    <mat-tab label="Mon compte">
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Pseudo">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input formControlName="password" matInput placeholder="Mot de passe">
      </mat-form-field>
      <br />
    </mat-tab>
  </mat-tab-group>
  <button type="submit" mat-raised-button class="button-color-validate">
    <span translate>Enregistrer les modifications</span>
  </button>
</form>
