<div id="set-favorite-search-popup" [class.hide]="!showSetFavoriteSearchPopup">
  <h2>{{ 'SET_FAVORITE_SEARCH' | translate }}</h2>
  <div>
    <button ion-button outline type="button" *ngFor="let item of trashcanTypes" (click)="updateAddedTrashcanType(item.id)" class="popup-button"
      [class.toggled-button]="(addedTrashcan.trashcanType.id == item.id)">{{item.label}}</button>
  </div>
  <div>
    <button ion-button outline type="button" *ngFor="let item of garbageTypes | slice:0:3" (click)="updateAddedTrashcanGarbage(item.id)"
      [class.toggled-button]="(addedTrashcan.garbageType.id == item.id)" class="popup-button">{{item.label}}</button>
    <button ion-button outline class="popup-button" type="button" (click)="showActionSheet()" [class.toggled-button]="(addedTrashcan.garbageType.id > 3)">{{ listSelectedGarbageType | slice:0:5}}{{listSelectedGarbageType.length > 5 ? '...' : ''}}</button>
  </div>
  <div class="align-right">
    <button ion-button clear type="button"(click)="this.added.emit(false)">{{ "CANCEL" | translate }}</button>
    <button ion-button style="width:25vw" type="button" (click)="setFavoriteSearch()">{{ "OK" | translate }}</button>
  </div>
</div>
