progress-bar {
       .progress-outer {
            width: 90%;
            margin-bottom: 2%;
            margin-left:auto;
            margin-right: auto;
            padding: 3px;
            text-align: center;
            background-color: map-get($colors, fytcLightgrey);
            border: 1px solid map-get($colors, disabled);
            color: map-get($colors, dark);
       }
    
       .progress-inner {
            min-width: 15%;
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            background-color: map-get($colors, secondary);
       }

       .informations {
            text-align: center;
            font-size: 3ex;
            margin-bottom: 5%;
       }
    
   }
   
   
   