page-tabs {
   
    .bar-menu {
        min-width: 100vw;
        background-color: map-get($colors, light);
        border-top: 1px solid map-get($colors, dark);
        box-shadow: 5px 2px 3px 3px  map-get($colors, disabled);
        button {
            padding:0!important;
            margin:0 0 0 0!important;
            border-radius:0;
            min-width:24vw;
            .menu-icon {
                font-size: 5vh
            }
        }   

        .toggled-button {
            background-color: map-get($colors, primary);
            color:map-get($colors, light);
        }
    }
        
    ion-content {   
        .scroll {
            height: 100%!important;
        }

        #map {
            width: 100%!important;
            height: 100%!important;
        }

    }
}
