page-tabs {

    h2 {
        color: map-get($colors, primary);
    }

    .toggled-button {
        background-color: map-get($colors, primary);
        color:map-get($colors, light);
    }

    .popup-button {
        border:1px solid map-get($colors, primary);
        margin-left:0;
        margin-right:0;
    }
   
    .bar-menu {
        min-width: 100vw;
        background-color: map-get($colors, light);
        border-top: 1px solid map-get($colors, dark);
        box-shadow: 5px 2px 3px 3px  map-get($colors, disabled);
        button {
            padding:0!important;
            margin:0 0 0 0!important;
            border-radius:0;
            min-width:24vw;
            .menu-icon {
                font-size: 5vh
            }
        }   
    }
        
    ion-content {
           
        .scroll {
            height: 100%!important;
        }

        #map {
            width: 100%!important;
            height: 100%!important;
        }

        .hide {
            display: none;
        }

        #no-network-div {
            height: 50px;
            line-height: 50px;
            position: absolute;
            top:75%;
            z-index: 300;
            width: 100%;
            border:1px solid  map-get($colors, danger);
            vertical-align: align;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);
        }

    }
    #add-trashcan-popup {
        position: absolute!important;
        bottom:0vh!important;
        background-color: map-get($colors, light);
        width:90vw;
    }

    .align-right {
        text-align: right;
    }
}
