<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" translate>
      <img alt="" src="../../../../assets/logo.png" class="img-responsive logo" /> APP_NAME</a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu" aria-label="Toggle navigation" (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <img src="../../../../assets/fytcIcones/icone-home.svg" class="icone-20" alt="" />
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <img src="../../../../assets/fytcIcones/icone-about.svg" class="icone-20" alt="" />
          <span translate>About</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/support" routerLinkActive="active">
          <img src="../../../../assets/fytcIcones/icone-support.svg" class="icone-20" alt="" />
          <span translate>Support</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown placement="bottom-right" [hidden]="!isAuthenticated">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{user.username}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button mat-button class="dropdown-item">
              Profile
            </button>
            <button mat-button class="dropdown-item">
              Déconnection
            </button>
          </div>
        </div>
        <div class="nav-item" placement="bottom-right" [hidden]="isAuthenticated">
          <app-login></app-login>
          <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="menu-language">
            <mat-icon>language</mat-icon>
            <span>{{currentLanguage}}</span>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)" class="menu-language-color">
              {{language}}
            </button>
          </mat-menu>
        </div>
        <div class="nav-item" placement="bottom-right" [hidden]="!isAuthenticated">
          <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="menu-language">
            <mat-icon>language</mat-icon>
            <span>{{currentLanguage}}</span>
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)" class="menu-language-color">
              {{language}}
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </nav>
</header>