/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @import url('https://fonts.googleapis.com/css?family=Roboto');

.mat-select-arrow,
.mat-select-disabled,
.mat-select-trigger,
.mat-select-value{
  color: $light !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  color: $green;
  font-family: 'Roboto', sans-serif;
}

.container-view{
  width: 100%;
}

p{
  font-family: 'Roboto', sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
}

.btn-validate {
  background-color: $green !important;
  color: $light !important;
}
.btn-reset {
  background-color: $danger !important;
  color: $light !important;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.divider{
  width: 100%;
  border-top: 2px solid;
  border-color: $green;
}
.icone-32{
  width: 32px;
  height: 32px;
}

.icone-24{
  width: 24px;
  height: 24px;
}

.icone-20{
  width: 20px;
  height: 20px;
}