<div class="display-tile div-size">

</div>
<div class="display div-size div-position">
  <mat-card class="right-tile-size card-margin-left">
    <mat-card-title>Informations Personnelles</mat-card-title>
    <mat-card-content>
      <form [formGroup]="createForm">
        <mat-form-field class="full-width-item">
          <input matInput placeholder="Login" formControlName="login" required>
          <mat-error *ngIf="login.invalid && (login.dirty || login.touched)">{{getErrorMessageLogin()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-item">
          <input matInput placeholder="Enter your password" [type]="!hide ? 'password' : 'text'" translate formControlName="password"
            required>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">{{getErrorMessagePassword()}}</mat-error>
          <mat-icon matSuffix (click)="hide = !hide;">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width-item">
          <input matInput placeholder="Repeat your password" [type]="!hideRepeat ? 'password' : 'text'" translate formControlName="repeatPassword"
            required>
          <mat-error *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)">{{getErrorMessageRepeatPassword()}}</mat-error>
          <mat-icon matSuffix (click)="hideRepeat = !hideRepeat;">{{hideRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <table class="full-width-item" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width-item">
                <input matInput placeholder="First name" formControlName="firstName" required>
                <mat-error *ngIf="firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width-item">
                <input matInput placeholder="Last name" formControlName="lastName" required>
                <mat-error *ngIf="lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width-item" cellspacing="0">
          <tr>
            <td>
              <label>Gender</label>
            </td>
            <td>
              <mat-radio-group class="example-radio-group" formControlName="gender">
                <mat-radio-button class="example-radio-button" [value]="true">
                  Female
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="false">
                  Male
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="gender.invalid">{{getErrorMessageGender()}}</mat-error>
            </td>
          </tr>
        </table>
        <mat-form-field class="full-width-item">
          <input matInput [matDatepicker]="picker" placeholder="Date of birthday" formControlName="birthday" required>
          <mat-error *ngIf="birthday.invalid">{{getErrorMessageBirthday()}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width-item">
          <input matInput placeholder="Enter your email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>